<p id="notice"><%= notice %></p>

<p>
  <strong>Sub category:</strong>
  <%= @custom_form.sub_category %>
</p>

<%= link_to 'Edit', edit_custom_form_path(@custom_form) %> |
<%= link_to 'Back', custom_forms_path %>
