<h1>"<%= @custom_form_field.form_name %>" Fields</h1>

<%= render 'form',
    custom_form_field: @custom_form_field,
    type_values: @type_values,
    form_method: 'create',
    captured: capture { %>
    <%= submit_tag 'Save', class: "btn btn-success" %>
<% } %>

<%= render 'list', fields: @fields %>