<p id="notice"><%= notice %></p>

<p>
  <strong>Custom form:</strong>
  <%= @form_answer.custom_form %>
</p>

<%= link_to 'Edit', edit_form_answer_path(@form_answer) %> |
<%= link_to 'Back', form_answers_path %>
